{% extends 'base.html.twig' %}

{% block title %}
	Mon compte
{% endblock %}

{% block body %}
    <main>
         <!-- profile area start -->
         {% if is_granted('ROLE_ADMIN') %}
         <section class="profile__area pt-120 pb-50 grey-bg">
            <div class="container">
               <div class="profile__basic-inner pb-20 bg-white">
                  <div class="row align-items-center">
                     <div class="col-xxl-6 col-md-6">
                        <div class="profile__basic d-md-flex align-items-center">
                           <div class="profile__basic-thumb mr-30">
                              <img src="assets/img/testimonial/person-1.jpg" alt="">
                           </div>
                           <div class="profile__basic-content">
                              <h3 class="profile__basic-title">
                                 Welcome Back <span>Admin</span>
                              </h3>
                              <p>2 Running Courses <a href="my-course.html">View Course</a></p>
                           </div>
                        </div>
                     </div>
                     <!-- Bouton de gestion administrateur -->
                     
                     <div class="col-xxl-3 col-md-3 ">
                        <div class="profile__basic-cart d-flex align-items-center justify-content-md-end">
                           <div class="cart-info mr-10 os-">
                                 <a href="{{ path('admin') }} "class="btn os-btn">Gestionnaire</a>
                           </div>
                        </div>
                     </div>
                     
                     <div class="col-xxl-3 col-md-3">
                        <div class="profile__basic-cart d-flex align-items-center justify-content-md-end">
                           
                           
                           <div class="cart-info mr-1">
                              <a href="cart.html"> Panier</a>
                           </div>
                           <div class="cart-item">
                              <a href="#">
                                 <i class="fa-solid fa-basket-shopping"></i>
                                 <span class="cart-quantity">2</span>
                              </a>
                           </div>
                           
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
         </section>

         {% else %}
         
         <section class="profile__area pt-120 pb-50 grey-bg">
            <div class="container">
               <div class="profile__basic-inner pb-20 bg-white">
                  <div class="row align-items-center">
                     <div class="col-xxl-6 col-md-6">
                        <div class="profile__basic d-md-flex align-items-center">
                           <div class="profile__basic-thumb mr-30">
                              <img src="assets/img/testimonial/person-1.jpg" alt="">
                           </div>
                           <div class="profile__basic-content">
                              <h3 class="profile__basic-title">
                                 Welcome Back <span>Admin</span>
                              </h3>
                              <p>2 Running Courses <a href="my-course.html">View Course</a></p>
                           </div>
                        </div>
                     </div>
                     
                     <div class="col-xxl-6 col-md-6">
                        <div class="profile__basic-cart d-flex align-items-center justify-content-md-end">
                           
                           
                           <div class="cart-info mr-1">
                              <a href="cart.html"> Panier</a>
                           </div>
                           <div class="cart-item">
                              <a href="#">
                                 <i class="fa-solid fa-basket-shopping"></i>
                                 <span class="cart-quantity">2</span>
                              </a>
                           </div>
                           
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
         </section>
         <!-- profile area end -->
         {% endif %}

         <!-- profile menu area start -->
         <section class="profile__menu pb-70 grey-bg">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-4 col-md-4">
                     <div class="profile__menu-left bg-white mb-50">
                        <h3 class="profile__menu-title"><i class="fa fa-list-alt"></i> Navigation</h3>
                        <div class="profile__menu-tab">
                           <div class="nav nav-tabs flex-column justify-content-start text-start" id="nav-tab" role="tablist">
                              <button class="nav-link active" id="nav-account-tab" data-toggle="tab" data-target="#nav-account" type="button" role="tab" aria-controls="nav-account" aria-selected="true"> <i class="fa fa-user"></i> Mon compte</button>
                              <button class="nav-link" id="nav-order-tab" data-toggle="tab" data-target="#nav-order" type="button" role="tab" aria-controls="nav-order" aria-selected="false"><i class="fa fa-file"></i> Commandes</button>
                              
                              <button class="nav-link" id="nav-order-tab" data-toggle="tab" data-target="#nav-addresse" type="button" role="tab" aria-controls="nav-order" aria-selected="false"><i class="fa-solid fa-location-dot"></i> Vos Adresses</button>
                              
                              <button class="nav-link" id="nav-password-tab" data-toggle="tab" data-target="#nav-password" type="button" role="tab" aria-controls="nav-password" aria-selected="false"><i class="fa fa-lock"></i> Modifier votre mot de passe</button>
                              <button class="nav-link"><i class="fa fa-sign-out"></i> Logout</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xxl-8 col-md-8">
                     <div class="profile__menu-right">
                        <div class="tab-content" id="nav-tabContent">
                           <div class="tab-pane fade show active" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
                              <div class="profile__info">
                                 <div class="profile__info-top d-flex justify-content-between align-items-center">
                                    <h3 class="profile__info-title">Profile Information</h3>
                                    <button class="profile__info-btn" type="button" data-toggle="modal" data-target="#profile_edit_modal"><i class="fa-regular fa-pen-to-square"></i> Edit Profile</button>
                                 </div>

                                 <div class="profile__info-wrapper white-bg">
                                    <div class="profile__info-item">
                                       <p>Name</p>
                                       <h4>Samrat Islam Tushar</h4>
                                    </div>
                                    <div class="profile__info-item">
                                       <p>Email</p>
                                       <h4><a href="mailt:outstock@hotmail.com" class="__cf_email__" data-cfemail="94fdfaf2fbd4f1f0e1fff1e6baf7fbf9">outstock@hotmail.com</a></h4>
                                    </div>
                                    <div class="profile__info-item">
                                       <p>Phone</p>
                                       <h4>(325) 463-5693</h4>
                                    </div>
                                    <div class="profile__info-item">
                                       <p>Address</p>
                                       <h4>Abingdon, Maryland(MD), 21009</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
                              <div class="order__info">
                                 <div class="order__info-top d-flex justify-content-between align-items-center">
                                    <h3 class="order__info-title">My Orders</h3>
                                    <button type="button" class="order__info-btn"><i class="fa-regular fa-trash-can"></i> Clear</button>
                                 </div>

                                 <div class="order__list white-bg table-responsive">
                                    <table class="table">
                                       <thead>
                                         <tr>
                                           <th scope="col">Order ID</th>
                                           <th scope="col">Name</th>
                                           <th scope="col">Price</th>
                                           <th scope="col">Details</th>
                                         </tr>
                                       </thead>
                                       <tbody>
                                         <tr>
                                           <td class="order__id">#3520</td>
                                           <td><a href="product-details.html" class="order__title">University seminar series global.</a></td>
                                           <td>$144.00</td>
                                           <td><a href="product-details.html" class="order__view-btn">View</a></td>
                                         </tr>
                                         <tr>
                                           <td class="order__id">#2441</td>
                                           <td><a href="product-details.html" class="order__title">Web coding and apache basics</a></td>
                                           <td>$59.54</td>
                                           <td><a href="product-details.html" class="order__view-btn">View</a></td>
                                         </tr>
                                         <tr>
                                           <td class="order__id">#2357</td>
                                           <td><a href="product-details.html" class="order__title">Economics historical development</a></td>
                                           <td>$89.90</td>
                                           <td><a href="product-details.html" class="order__view-btn">View</a></td>
                                         </tr>
                                       </tbody>
                                     </table>
                                 </div>
                              </div>
                           </div>

                           <div class="tab-pane fade" id="nav-addresse" role="tabpanel" aria-labelledby="nav-order-tab">
                              <div class="order__info">
                                 <div class="order__info-top d-flex justify-content-between align-items-center">
                                    <h3 class="order__info-title">Adresses</h3>
                                    <a href="{{ path('app_address_new') }}" class="order__info-btn"><i class="fa-regular fa-trash-can"></i> Ajouter une adresse</a>
                                    <button type="button" class="order__info-btn"><i class="fa-regular fa-trash-can"></i> Vider</button>
                                 </div>

                                 <div class="order__list white-bg table-responsive">
                                    <table class="table">
                                       <thead> 
                                         <tr>
                                           <th scope="col">Adresse</th>
                                           <th scope="col">Code postal</th>
                                           <th scope="col">Ville</th>
                                           <th scope="col">Action</th>
                                         </tr>
                                       </thead>
                                       <tbody>
                                       {% for address in addresses %}
                                          <tr>
                                             <td><a href="" class="order__title">{{ address.address }}</a></td>
                                             <td>{{ address.postal }}</td>
                                             <td><a href="" class="order__view-btn">{{ address.ville }}</a></td>
                                             <td>
                                                
                                                <a href="{{ path('app_address_edit', {'id': address.id}) }}" class="order__view-btn" style="margin-left: 5px;"><i class="fa-solid fa-pencil" title="Modifier cette adresse"></i> </a>
                                                <a href="{{ path('app_address_delete', {'id': address.id}) }}" class="order__view-btn" style="margin-left: 10px;"><i class="fa-solid fa-trash-can" title="Supprimer cette adresse"></i> </a>
                                             </td>
                                          </tr>
                                       {% endfor %}
                                       </tbody>
                                     </table>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                              <div class="password__change">
                                 <div class="password__change-top">
                                    <h3 class="password__change-title">Change Password</h3>
                                 </div>
                                 <div class="password__form white-bg">
                                    <form action="#">
                                       <div class="password__input">
                                          <p>Old Password</p>
                                          <input type="password" placeholder="Enter Old Password">
                                       </div>
                                       <div class="password__input">
                                          <p>New Password</p>
                                          <input type="password" placeholder="Enter New Password">
                                       </div>
                                       <div class="password__input">
                                          <p>Confirm Password</p>
                                          <input type="password" placeholder="Confirm Password">
                                       </div>
                                       <div class="password__input">
                                          <button type="submit" class="os-btn os-btn-black">Update password</button>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- profile menu area end -->

         <div class="profile__edit-modal">
            <!-- Modal -->
            <div class="modal fade" id="profile_edit_modal" tabindex="-1" aria-labelledby="profile_edit_modal" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                     <div class="profile__edit-wrapper">
                        <div class="profile__edit-close">
                           <button type="button" class="profile__edit-close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        </div>
                        <form action="#">
                           <div class="profile__edit-input">
                              <p>Name</p>
                              <input type="text" placeholder="Your Name">
                           </div>
                           <div class="profile__edit-input">
                              <p>Email</p>
                              <input type="text" placeholder="Your Email">
                           </div>
                           <div class="profile__edit-input">
                              <p>Phone</p>
                              <input type="text" placeholder="Your Phone">
                           </div>
                           <div class="profile__edit-input">
                              <p>Address</p>
                              <input type="text" placeholder="Your Address">
                           </div>
                           <div class="profile__edit-input">
                              <button type="submit" class="os-btn os-btn-black w-100">Update</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </main>
{% endblock %}